<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jatayu-Pakshi</title>
    <link rel="stylesheet" href="../static/styles/jatayumaincss.css">
    <!-- <script src="../static/jatayumainjs.js"></script> -->
</head>
<body>
   <a href="/"><div class="JatayuLogo"></div></a>
   <h1 style="text-align: center;">Jatayu-Pakshi</h1><br>
   <h2 style="color: red;">Note: If it takes too much time to load, reload website again and continue.</h2><br>
   <h2 style="color: red;">Need minimum of 20-25 seconds for every website to load. Please be patient.</h2><br>
  <h2>World:</h2><a href="/wion"><div class="NewsWion" ></div></a><br>
    <h2>Right Wing:</h2><a href="/opindia"><div class="NewsOpIndia"></div></a><br>
    <h2>Left Wing:</h2><a href="/thehindu"><div class="NewsTheHindu"></div></a><br>
    <h2>Cricket:</h2><a href="/cricket"><div class="NewsCricket"></div></a><br>
    <h2>Tech:</h2><a href="/tech"><div class="NewsTech"></div></a><br>
</body>
</html>

